body{
    background-image: url("plant_result.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.dashboard-nav{
    padding-top:5px;
} 


.dashboard-nav .row .column-1{
    width:33%;
    border-bottom: 2px solid black;
    height: 8vh;
    z-index: 100;
}

.dashboard-nav h1{
    font-size:26px;
    margin: 10px 0px 0px 0px !important;

}

.dashboard-nav h2{
    font-size: 20px;
     margin: 12px 0px 0px 0px;
}


main{
    width:600px;
    margin: 20px auto;
    height: 600px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
}

.alpha{
    font-size:20px;
}


.single-result{
    border:1px solid blue;
    width:500px;
    margin-left:1px;
}

.single-result:hover{
    cursor: pointer;
}


.single-result img{
    width:100px;
    height: 80px;
}

.single-result h4{
    margin: 20px 100px;
}


.inner-img{
    width:300px;
    transform: translateX(50%);
}

.start-growing-btn{
    transform: translateX(220px);
    font-size:24px;
}

.inner-main{
    overflow-y: hidden;
    height: auto;
    padding-bottom: 50px;
}

.to-do-img{
    width:100px;
    transform: translateX(250px);
}

.inner-main ol li{
    font-weight: 400;
    font-size:20px;
    margin-bottom:30px;
}

.inner-main button{
    margin-right: 20px;
    transform: translateX(70px);
}